extends layout

block content
  div#mainContent
    header.row
      div.twelve.columns
        h1 Olympic Tweets on Earth
    div.row
      div.twelve.columns#earth-container
    footer.row
      div.twelve.columns
        p
          Developed by 
          a(href='http://claudio-ortolina.org') Claudio ortolina 
          || Source on 
          a(href='http://github.com/cloud8421/mmxii-earth-visualizer') Github 
          || A project for 
          a(href='http://mmxiihack.org') Londinium MMXII Hackathon
