doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/master.css')
    script(type='text/mustache', id="tweet-template")
      div.tweet.panel.callout.radius
        span.label.alert.radius {{ interaction.author.name }}
        span.label.success.radius {{ created_at }}
        img(src='{{ interaction.author.avatar }}', alt='{{ interaction.author.name }}')
        p {{{ interaction.content }}}
    script(src='http://www.webglearth.com/api.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/mmxii-earth-visualizer.min.js')
  body
    block content
